body{
  background: #E5E5E5;
}
.App{
  max-width: 1024px;
  margin: auto;
  background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-section{
  width:100%;
  display: flex;
}
.chatting-section{
  flex: 1;
}